### 导入数据库

In [15]:
db_path ='../data_files/Temoa_Input_US/completed_analyses/Env_Modelling_Software_2015/EMS_base_1130.sqlite'

### 执行sql文件地址

In [19]:
sql_file = '../data_files/Temoa_Input_US/completed_analyses/Env_Modelling_Software_2015/EMS_base_clear.sql'

In [20]:
import sqlite3
import os
os.remove(db_path) #清除文件
con = sqlite3.connect(db_path)  # 新建sqlite3数据文件
cs = con.cursor()
print ("数据库清空并打开")

数据库清空并打开

In [21]:
with open(sql_file,encoding='utf-8',mode='r') as f:
    # 读取整个sql文件，以分号切割。[:-1]删除最后一个元素，也就是空字符串
    sql_list = f.read().split(';')[:-1]
    for x in sql_list:
        # 判断包含空行的
        if '\n' in x:
            # 替换空行为1个空格
            x = x.replace('\n', ' ')

        # sql语句添加分号结尾
        sql_item = x+';'
        cs.execute(sql_item)

con.commit()
cs.close()
con.close()

# print("数据导入成功")

In [13]:
'''
sql = """
CREATE TABLE time_period_labels (
  t_period_labels text primary key,
  t_period_labels_desc text);
"""
cs.execute(sql)

sql_1 = """
CREATE TABLE time_periods (
  t_periods integer primary key,
  flag text,
  FOREIGN KEY(flag) REFERENCES time_period_labels(t_period_labels)); 
"""
cs.execute(sql_1)
'''

'\nsql = """\nCREATE TABLE time_period_labels (\n  t_period_labels text primary key,\n  t_period_labels_desc text);\n"""\ncs.execute(sql)\n\nsql_1 = """\nCREATE TABLE time_periods (\n  t_periods integer primary key,\n  flag text,\n  FOREIGN KEY(flag) REFERENCES time_period_labels(t_period_labels)); \n"""\ncs.execute(sql_1)\n'