In [43]:
import pandas as pd
import datetime
import os
excel_file='/Users/jerrysong/Study_Grad/Nankai_Research_with_Python/Nankai_Research/Temoa_2.0_collection/data_files/Self_MaAp/import/Temoa_Excel_Template.xlsx'

# Get current date and time
now = datetime.datetime.now()
# Format date and time as string
#date_string = now.strftime("%Y-%m-%d_%H-%M-%S")
# Define filename with statement and timestamp
#filename = f"{date_string}.sql"
#sql_path='/Users/jerrysong/Study_Grad/Nankai_Research_with_Python/Nankai_Research/Temoa_2.0_collection/data_files/Self_MaAp/import'
# Define full file path with folder and filename
#sql_file = os.path.join(sql_path, filename)

sql_file='/Users/jerrysong/Study_Grad/Nankai_Research_with_Python/Nankai_Research/Temoa_2.0_collection/data_files/Self_MaAp/import/sql_import.sql'

# Technology

In [44]:
# Read the 'Technology' sheet from 'Temoa_Excel_Template.xlsx' into a pandas dataframe
df = pd.read_excel(excel_file, sheet_name='Technology')

# Open the SQL file for writing
with open(sql_file, 'w') as f:
    # Loop through each row in the dataframe
    for index, row in df.iterrows():
        # Check if the Tech_Code column is null
        if pd.isna(row['Tech_Code']):
            continue
        # Extract data from the row and create an SQL insert statement
        tech_code = row['Tech_Code']
        flag = row['Flag']
        sector = row['Sector']
        tech_desc = row['Tech_Desc']
        sql_statement = "INSERT INTO `technologies` VALUES ('{}','{}','{}','{}','');\n".format(tech_code, flag, sector, tech_desc)
        # Write the SQL statement to the file
        f.write(sql_statement)

# Commodity

In [45]:
# Read the 'Commodity' sheet from 'Temoa_Excel_Template.xlsx' into a pandas dataframe
df = pd.read_excel(excel_file, sheet_name='Commodity')

# Open the SQL file for writing
with open(sql_file, 'a') as f:
    # Loop through each row in the dataframe and print out the SQL insert statement
    for index, row in df.iterrows():
        com_code = row['Com_Code']
        if pd.isna(com_code):
            continue  # Skip this row if 'Com_Code' is null
        flag = row['Flag']
        com_desc = row['Com_Desc']
        sql_statement = "INSERT INTO `commodities` VALUES ('{}','{}','{}');".format(com_code, flag, com_desc)
        f.write(sql_statement + '\n')  # Write the SQL statement to the file

# Efficiency

In [46]:
# Read the 'Efficiency' sheet from 'Temoa_Excel_Template.xlsx' into a pandas dataframe
df = pd.read_excel(excel_file, sheet_name='Efficiency')

# Open the SQL file for writing
with open(sql_file, 'a') as f:
    # Loop through each row in the dataframe and print out the SQL insert statement
    for index, row in df.iterrows():
        tech_code = row['Tech_Code']
        if pd.isna(tech_code):
             continue  # Skip this row if 'tech_code' is null
        # open the SQL file in append mode
        # get the values from the DataFrame row
        region = row['Region']
        tech_code = row['Tech_Code']
        vintage = int(row['Vintage'])
        com_code_input = row['Com_Code_Input']
        com_code_output = row['Com_Code_Output']
        efficiency = row['Efficiency']
        if pd.isna(efficiency):
             continue  # Skip this row if 'efficiency' is null       
        tech_desc = row['Tech_Desc']
        sql_statement = "INSERT INTO `Efficiency` VALUES ('{}','{}','{}',{},'{}',{},'{}');".format(region, com_code_input, tech_code, vintage, com_code_output, efficiency, tech_desc)
        f.write(sql_statement + '\n')  # Write the SQL statement to the file

# ExistingCapacity

In [47]:
# Read the 'ExistingCapacity' sheet from Excel file into a pandas dataframe
df = pd.read_excel(excel_file, sheet_name='ExistingCapacity')

# Open the SQL file for writing
with open(sql_file, 'a') as f:
    # Loop through each row in the dataframe and print out the SQL insert statement
    for index, row in df.iterrows():
        conversion_phase = row['Conversion Phase']
        regions = row['regions']
        tech = row['tech']
        if pd.isna(tech):
            continue  # Skip this row if any of these columns is null
        vintage = row['vintage']
        exist_cap = row['exist_cap']
        exist_cap_units = row['exist_cap_units']
        exist_cap_notes = row['exist_cap_notes']
        sql_statement = "INSERT INTO `ExistingCapacity` VALUES ('{}','{}','{}','{}','{}','{}');".format(regions, tech, vintage, exist_cap, exist_cap_units, exist_cap_notes)
        f.write(sql_statement + '\n')  # Write the SQL statement to the file

# CostFixed

In [48]:
# Read the 'CostFixed' sheet from the Excel file into a pandas dataframe
df = pd.read_excel(excel_file, sheet_name='CostFixed')

# Open the SQL file for writing
with open(sql_file, 'a') as f:
    # Loop through each row in the dataframe and print out the SQL insert statements
    for index, row in df.iterrows():
        regions = row['regions']
        tech = row['tech']
        vintage = row['vintage']
        cost_fixed_units = row['cost_fixed_units']
        cost_fixed_notes = row['cost_fixed_notes']
        for period in range(2025, 2060, 5):
            cost_fixed = row[f'P{period}']
            if pd.isna(cost_fixed):
                continue  # Skip this row if any of these columns is null
            sql_statement = "INSERT INTO `CostFixed` VALUES ('{}', {}, '{}', {}, {}, '{}', '{}');".format(regions, period, tech, vintage, cost_fixed, cost_fixed_units, cost_fixed_notes)
            f.write(sql_statement + '\n')  # Write the SQL statement to the file.

# CostVariable

In [49]:
# Read the 'CostVariable' sheet from the Excel file into a pandas dataframe
df = pd.read_excel(excel_file, sheet_name='CostVariable')

# Open the SQL file for writing
with open(sql_file, 'a') as f:
    # Loop through each row in the dataframe and print out the SQL insert statements
    for index, row in df.iterrows():
        regions = row['regions']
        tech = row['tech']
        vintage = row['vintage']
        cost_variable_units = row['cost_variable_units']
        cost_variable_notes = row['cost_variable_notes']
        for period in range(2025, 2060, 5):
            cost_variable = row[f'P{period}']
            if pd.isna(cost_variable):
                continue  # Skip this row if any of these columns is null
            sql_statement = "INSERT INTO `CostVariable` VALUES ('{}', {}, '{}', {}, {}, '{}', '{}');".format(regions, period, tech, vintage, cost_variable, cost_variable_units, cost_variable_notes)
            f.write(sql_statement + '\n')  # Write the SQL statement to the file.

# CostInvest

In [50]:
# Read the 'CostInvest' sheet from the Excel file into a pandas dataframe
df = pd.read_excel(excel_file, sheet_name='CostInvest')

# Open the SQL file for writing
with open(sql_file, 'a') as f:
    # Loop through each row in the dataframe and print out the SQL insert statement
    for index, row in df.iterrows():
        conversion_phase = row['Conversion Phase']
        regions = row['regions']
        tech = row['tech']
        vintage = row['vintage']
        cost_invest = row['cost_invest']
        cost_invest_units = row['cost_invest_units']
        cost_invest_notes = row['cost_invest_notes']
        if pd.isna(regions) or pd.isna(tech) or pd.isna(vintage):
            continue  # Skip this row if any of these columns is null
        sql_statement = "INSERT INTO `CostInvest` VALUES ('{}','{}',{},{},'{}','{}');".format(regions, tech, vintage, cost_invest, cost_invest_units, cost_invest_notes)
        f.write(sql_statement + '\n')  # Write the SQL statement to the fi

# GrowthRateSeed

In [51]:
# Read the 'GrowthRateSeed' sheet from 'Temoa_Excel_Template.xlsx' into a pandas dataframe
df = pd.read_excel(excel_file, sheet_name='GrowthRateSeed')

# Open the SQL file for writing
with open(sql_file, 'a') as f:
    # Loop through each row in the dataframe
    for index, row in df.iterrows():
        # Check if the Tech_Code column is null
        if pd.isna(row['tech']):
            continue
        # Extract data from the row and create an SQL insert statement
        tech = row['tech']		
        regions = row['regions']
        growthrate_seed = row['growthrate_seed']
        growthrate_seed_units = row['growthrate_seed_units']
        growthrate_seed_notes = row['growthrate_seed_notes']
        sql_statement = "INSERT INTO `GrowthRateSeed` VALUES ('{}','{}',{},'{}','{}');\n".format(regions, tech, growthrate_seed, growthrate_seed_units,growthrate_seed_notes)
        # Write the SQL statement to the file
        f.write(sql_statement)

# GrowthRateMax

In [52]:
# Read the 'GrowthRateMax' sheet from 'Temoa_Excel_Template.xlsx' into a pandas dataframe
df = pd.read_excel(excel_file, sheet_name='GrowthRateMax')

# Open the SQL file for writing
with open(sql_file, 'a') as f:
    # Loop through each row in the dataframe
    for index, row in df.iterrows():
        # Check if the Tech_Code column is null
        if pd.isna(row['tech']):
            continue
        # Extract data from the row and create an SQL insert statement
        tech = row['tech']		
        regions = row['regions']
        growthrate_max = row['growthrate_max']
        growthrate_max_notes = row['growthrate_max_notes']
        sql_statement = "INSERT INTO `GrowthRateMax` VALUES ('{}','{}',{},'{}');\n".format(regions, tech, growthrate_max, growthrate_max_notes)
        # Write the SQL statement to the file
        f.write(sql_statement)

# LifetimeTech

In [53]:
# Read the 'LifetimeTech' sheet from 'Temoa_Excel_Template.xlsx' into a pandas dataframe
df = pd.read_excel(excel_file, sheet_name='LifetimeTech')

# Open the SQL file for writing
with open(sql_file, 'a') as f:
    # Loop through each row in the dataframe
    for index, row in df.iterrows():
        # Check if the Tech_Code column is null
        if pd.isna(row['tech']):
            continue
        # Extract data from the row and create an SQL insert statement
        tech = row['tech']		
        regions = row['regions']
        life = row['life']	
        life_notes = row['life_notes']
        sql_statement = "INSERT INTO `LifetimeTech` VALUES ('{}','{}',{},'{}');\n".format(regions, tech, life, life_notes)
        # Write the SQL statement to the file
        f.write(sql_statement)

# CapacityToActivity

In [54]:
# Read the 'Capacity2Activity' sheet from 'Temoa_Excel_Template.xlsx' into a pandas dataframe
df = pd.read_excel(excel_file, sheet_name='Capacity2Activity')

# Open the SQL file for writing
with open(sql_file, 'a') as f:
    # Loop through each row in the dataframe
    for index, row in df.iterrows():
        # Check if the Tech_Code column is null
        if pd.isna(row['tech']):
            continue
        # Extract data from the row and create an SQL insert statement
        tech = row['tech']		
        regions = row['regions']
        c2a = row['c2a']	
        c2a_notes = row['c2a_notes']
        sql_statement = "INSERT INTO `CapacityToActivity` VALUES ('{}','{}',{},'{}');\n".format(regions, tech, c2a, c2a_notes)
        # Write the SQL statement to the file
        f.write(sql_statement)

# MaxCapacity

In [55]:
# Read the 'MaxCapacity' sheet from the Excel file into a pandas dataframe
df = pd.read_excel(excel_file, sheet_name='MaxCapacity')

# Open the SQL file for writing
with open(sql_file, 'a') as f:
    # Loop through each row in the dataframe and print out the SQL insert statements
    for index, row in df.iterrows():
        regions = row['regions']
        tech = row['tech']
        maxcap_units = row['maxcap_units']
        maxcap_notes = row['maxcap_notes']
        for period in range(2025, 2060, 5):
            maxcap = row[f'P{period}']
            if pd.isna(maxcap):
                continue  # Skip this row if any of these columns is null
            sql_statement = "INSERT INTO `MaxCapacity` VALUES ('{}', {}, '{}', {}, '{}', '{}');".format(regions, period, tech, maxcap, maxcap_units, maxcap_notes)
            f.write(sql_statement + '\n')  # Write the SQL statement to the file.

# MinCapacity

In [56]:
# Read the 'MinCapacity' sheet from the Excel file into a pandas dataframe
df = pd.read_excel(excel_file, sheet_name='MinCapacity')

# Open the SQL file for writing
with open(sql_file, 'a') as f:
    # Loop through each row in the dataframe and print out the SQL insert statements
    for index, row in df.iterrows():
        regions = row['regions']
        tech = row['tech']
        mincap_units = row['mincap_units']
        mincap_notes = row['mincap_notes']
        for period in range(2025, 2060, 5):
            mincap = row[f'P{period}']
            if pd.isna(mincap):
                continue  # Skip this row if any of these columns is null
            sql_statement = "INSERT INTO `MinCapacity` VALUES ('{}', {}, '{}', {}, '{}', '{}');".format(regions, period, tech, mincap, maxcap_units, mincap_notes)
            f.write(sql_statement + '\n')  # Write the SQL statement to the file.

# MinActivity

In [57]:
# Read the 'MinActivity' sheet from the Excel file into a pandas dataframe
df = pd.read_excel(excel_file, sheet_name='MinActivity')

# Open the SQL file for writing
with open(sql_file, 'a') as f:
    # Loop through each row in the dataframe and print out the SQL insert statements
    for index, row in df.iterrows():
        regions = row['regions']
        tech = row['tech']
        minact_units = row['minact_units']
        minact_notes = row['minact_notes']
        for period in range(2025, 2060, 5):
            minact = row[f'P{period}']
            if pd.isna(minact):
                continue  # Skip this row if any of these columns is null
            sql_statement = "INSERT INTO `MinActivity` VALUES ('{}', {}, '{}', {}, '{}', '{}');".format(regions, period, tech, minact, minact_units, minact_notes)
            f.write(sql_statement + '\n')  # Write the SQL statement to the file.

# MaxActivity

In [58]:
# Read the 'MaxActivity' sheet from the Excel file into a pandas dataframe
df = pd.read_excel(excel_file, sheet_name='MaxActivity')

# Open the SQL file for writing
with open(sql_file, 'a') as f:
    # Loop through each row in the dataframe and print out the SQL insert statements
    for index, row in df.iterrows():
        regions = row['regions']
        tech = row['tech']
        maxact_units = row['maxact_units']
        maxact_notes = row['maxact_notes']
        for period in range(2025, 2060, 5):
            maxact = row[f'P{period}']
            if pd.isna(maxact):
                continue  # Skip this row if any of these columns is null
            sql_statement = "INSERT INTO `MaxActivity` VALUES ('{}', {}, '{}', {}, '{}', '{}');".format(regions, period, tech, maxact, maxact_units, maxact_notes)
            f.write(sql_statement + '\n')  # Write the SQL statement to the file.

# EmissionsActivity

In [59]:
# Read the 'EmissionsActivity' sheet from the Excel file into a pandas dataframe
df = pd.read_excel(excel_file, sheet_name='EmissionsActivity')

# Open the SQL file for writing
with open(sql_file, 'a') as f:
    # Loop through each row in the dataframe and print out the SQL insert statements
    for index, row in df.iterrows():
        regions = row['regions']
        emis_comm = row['emis_comm']
        input_comm = row['input_comm']
        tech = row['tech']
        if pd.isna(row['tech']):
            continue
        vintage = row['vintage']
        output_comm = row['output_comm']
        emis_act = row['emis_act']
        emis_act_units = row['emis_act_units']
        emis_act_notes = row['emis_act_notes']        
        sql_statement = "INSERT INTO `EmissionActivity` VALUES ('{}', '{}', '{}','{}',{},'{}',{},'{}','{}');".format(regions, emis_comm, input_comm, tech, vintage, output_comm, emis_act, emis_act_units, emis_act_notes)
        f.write(sql_statement + '\n')  # Write the SQL statement to the file.

# Demand

In [60]:
df = pd.read_excel(excel_file, sheet_name='Demand')

# Open the SQL file for writing
with open(sql_file, 'a') as f:
    # Loop through each row in the dataframe and print out the SQL insert statements
    for index, row in df.iterrows():
        regions = row['regions']
        demand_comm = row['demand_comm']
        if pd.isna(demand_comm):
            continue  # Skip this row if any of these columns is null
        demand_units = row['demand_units']
        demand_notes = row['demand_notes']
        for period in range(2025, 2060, 5):
            demand = row[f'P{period}']
            if pd.isna(demand):
                continue  # Skip this row if any of these columns is null
            sql_statement = "INSERT INTO `Demand` VALUES ('{}', {}, '{}', {}, '{}', '{}');".format(regions, period, demand_comm, demand, demand_units, demand_notes)
            f.write(sql_statement + '\n')  # Write the SQL statement to the file.

# Joint SQL Lines

In [61]:
# Set the path of the input SQL files
file1_path = '/Users/jerrysong/Study_Grad/Nankai_Research_with_Python/Nankai_Research/Temoa_2.0_collection/data_files/Self_MaAp/data/Archive/Teoma_CN_Template.sql'
file2_path = '/Users/jerrysong/Study_Grad/Nankai_Research_with_Python/Nankai_Research/Temoa_2.0_collection/data_files/Self_MaAp/import/sql_import.sql'

# Set the path of the output SQL file
output_path = '/Users/jerrysong/Study_Grad/Nankai_Research_with_Python/Nankai_Research/Temoa_2.0_collection/data_files/Self_MaAp/data/Teoma_CN_MaAp.sql'

# Read the contents of the input SQL files
with open(file1_path, "r") as file1:
    file1_contents = file1.read()

with open(file2_path, "r") as file2:
    file2_contents = file2.read()

# Concatenate the contents of the input SQL files
output_contents = file1_contents + "\n" + file2_contents + "\n COMMIT;"

# Write the concatenated contents to the output SQL file
with open(output_path, "w") as output_file:
    output_file.write(output_contents)

print("Merged SQL files saved to:", os.path.abspath(output_path))

Merged SQL files saved to: /Users/jerrysong/Study_Grad/Nankai_Research_with_Python/Nankai_Research/Temoa_2.0_collection/data_files/Self_MaAp/data/Teoma_CN_MaAp.sql